<a href="https://colab.research.google.com/github/Rony-pat/Clases/blob/main/Tarea_06_Python_estructuras_de_datos_con_Pandas_y_manejo_de_archivos_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd
ventas = pd.read_csv('datos_ventas.csv')
print("Primeras 5 filas del DataFrame:")
print(ventas.head())

Primeras 5 filas del DataFrame:
     Producto    Categoria       Fecha  Cantidad  Precio
0  Producto B  Categoria 1  2023-02-05        16   37.00
1  Producto A  Categoria 2  2022-08-24         5   30.24
2  Producto A  Categoria 2  2023-05-07         3   23.29
3  Producto C  Categoria 1  2023-01-07        13   28.30
4  Producto A  Categoria 1  2023-05-31        10   34.89

In [20]:
ventas['Total_Ventas'] = ventas['Cantidad']
total_ventas_categoria = ventas.groupby('Categoria')['Total_Ventas'].sum()
print("\nTotal de ventas por categoría:")
print(total_ventas_categoria)

Total de ventas por categoría:
Categoria
Categoria 1    462
Categoria 2    495
Name: Total_Ventas, dtype: int64

In [24]:
grouped = ventas.groupby('Producto').agg(
    Total_Vendido=('Cantidad', 'sum'),
    Numero_Transacciones=('Fecha', 'count'))
grouped['Promedio_Vendido_Por_Transaccion'] = grouped['Total_Vendido'] / grouped['Numero_Transacciones']
print(grouped[['Promedio_Vendido_Por_Transaccion']])

            Promedio_Vendido_Por_Transaccion
Producto
Producto A                          9.684211
Producto B                         10.600000
Producto C                          8.074074

In [25]:
total_vendido_por_producto = ventas.groupby('Producto')['Cantidad'].sum()
producto_mas_vendido = total_vendido_por_producto.idxmax()
cantidad_vendida = total_vendido_por_producto.max()
print(f'Producto más vendido: {producto_mas_vendido}')
print(f'Cantidad vendida: {cantidad_vendida}')

Producto más vendido: Producto B
Cantidad vendida: 371

In [27]:
promedio_precio_por_producto = ventas.groupby('Producto')['Precio'].mean()
print(promedio_precio_por_producto)

Producto
Producto A    27.840000
Producto B    29.250857
Producto C    29.892963
Name: Precio, dtype: float64